<div class="panel panel-primary">
  <div class="panel-heading">
    <h4><span class="glyphicon glyphicon-th-list"></span>
      申请的预约列表
    </h4>
  </div>
  <div class="panel-body">
    <div class="form-inline">
      <input type="text" class="form-control" style="width: 200px" placeholder="预约医院" ng-model="searchOpt.orgName"/>
      <!--<input type="text" class="form-control" style="width: 180px" placeholder="预约单号" ng-model="searchOpt.reserveNo"/>-->
      <input type="text" class="form-control" style="width: 100px" placeholder="预约人姓名" ng-model="searchOpt.patientName"/>
      <input type="text" class="form-control" style="width: 120px" placeholder="电话" ng-model="searchOpt.patientMobile"/>
      <input type="text" class="form-control" style="width: 200px" placeholder="身份证号" ng-model="searchOpt.patientIDCard"/>
      <select class="form-control" ng-model="searchOpt.reserveStatus" ng-options="d.code as d.name for d in statusList" ng-change="selectItem()" >
        <option value="">全部</option>
      </select>

      <button class="btn btn-primary" ng-click="loadList()">
        <span class="glyphicon glyphicon-search"></span> 检索
      </button>
      <button class="btn btn-success" ui-sref="reserve.detail"><i class="glyphicon glyphicon-plus"></i>预约申请</button>
    </div>

    <br/>

    <table class="table table-hover table-striped">
      <thead>
      <tr class="bg-primary">
        <th>预约人</th>
        <th>联系电话</th>
        <th>预约医院</th>
        <th>预约时间</th>
        <th>申请人</th>
        <th>申请时间</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="s in listReserve">
        <td><a ui-sref="{{s.reservation_status===1?'reserve.detail({id:s.reservation_id})':'reserve.info({id:s.reservation_id})'}}">{{s.patient_name}}</a></td>
        <td>{{s.patient_mobile}}</td>
        <td>{{s.v_receive_org}}</td>
        <td>{{s.reservation_time | date:'yyyy-MM-dd HH:mm'}}</td>
        <td>{{s.v_request_user}}</td>
        <td>{{s.request_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{s.reservationStatus.name}}</td>
        <td>
          <a class="btn btn-info btn-sm" title="预约" ng-click="sendReserve(s.reservation_id)" ng-if="s.reservation_status==1">
            <i class="glyphicon glyphicon-send"></i>
          </a>
          <a class="btn btn-danger btn-sm" title="删除" ng-click="deleteReserve(s.reservation_id)" ng-if="s.reservation_status==1">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>

    <div align="right">
      <span style="font-size: 18px;float: left;">共&nbsp;{{searchOpt.spu.totalRow}}&nbsp;条数据</span>
      <uib-pagination style="margin-top:0px;margin-bottom:0px;" total-items="searchOpt.spu.totalRow"
                      items-per-page="searchOpt.spu.perPageCount" max-size="10" boundary-links="true"
                      ng-model="searchOpt.spu.currPage" ng-change="loadList()"
                      previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页"></uib-pagination>
    </div>
  </div>
</div>