<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<meta http-equiv="Expires" content="0">
</head>
<body>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h4><span class="glyphicon glyphicon-th-list"></span>
			病例检索
		</h4>
	</div>
	<div class="panel-body">
		<div class="form-inline" data-ng-init="initData()">
			<input type="text" class="form-control" style="width: 120px;" placeholder="机构名称" ng-model="searchOpt.org_name" /> 
			<input type="text" class="form-control" style="width: 120px;" placeholder="机构编号" ng-model="searchOpt.org_code" /> 
			<input type="text" class="form-control" style="width: 120px;" placeholder="病人姓名" ng-model="searchOpt.sicker_name" /> 
			<select class="form-control" style="width: 100px;" ng-model="searchOpt.sicker_gender">
				<option value="0">性别</option>
				<option value="1">男</option>
				<option value="2">女</option>
			</select>
			<div class="input-group" style="width:160px">
	       		<date-selector ng-model="searchOpt.start" placeholder="起始日期"></date-selector>
			</div>
	       	<div class="input-group" style="width:160px">
	       		<date-selector ng-model="searchOpt.end" placeholder="结束日期"></date-selector>
			</div>
<!-- 			<div class="form-group" style="width:160px"> -->
<!-- 		       	<div class="input-group" ng-controller="dateSeletor"> -->
<!-- 					<input id="datepicker" type="text" placeholder="起始日期" class="form-control" datepicker-popup="{{dateFormat}}" -->
<!-- 						ng-model="searchOpt.start" datepicker-options="dateOptions"  -->
<!-- 						is-open="opened" date-disabled = "false" current-text="今天" clear-text="清除" close-text="关闭"> -->
<!-- 					<span class="input-group-btn"> -->
<!-- 					    <button class="btn btn-info" type="button" ng-click="open($event)">选择</button> -->
<!-- 					</span> -->
<!-- 				</div> -->
<!-- 		    </div> -->
<!-- 		   	<div class="form-group" style="width:160px"> -->
<!-- 		       	<div class="input-group" ng-controller="dateSeletor"> -->
<!-- 					<input id="datepicker" type="text" placeholder="结束日期" class="form-control" datepicker-popup="{{dateFormat}}" -->
<!-- 						ng-model="searchOpt.end" datepicker-options="dateOptions"  -->
<!-- 						is-open="opened" date-disabled = "false" current-text="今天" clear-text="清除" close-text="关闭"> -->
<!-- 					<span class="input-group-btn"> -->
<!-- 					    <button class="btn btn-info" type="button" ng-click="open($event)">选择</button> -->
<!-- 					</span> -->
<!-- 				</div> -->
<!-- 		    </div> -->
			<input type="text" class="form-control" style="width: 160px;" placeholder="病历号" ng-model="searchOpt.medicalHisNum" /> 
			<select class="form-control" style="width: 130px;" ng-model="searchOpt.status">
				<option value="0">病例状态</option>
				<option value="1">正常</option>
				<option value="2">已提交诊断</option>
				<option value="3">已诊断</option>
			</select>
			<button class="btn btn-primary" ng-click="searchMedicalHis()">
				<span class="glyphicon glyphicon-search"></span> 检索
			</button>
		</div>
		<hr />
		<table class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th>所属机构</th>
					<th>机构编号</th>
					<th>病人姓名</th>
					<th>性别</th>
					<th>年龄</th>
					<th>病历号</th>
					<th>添加时间</th>
					<th>状态</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="medicalHis in listMedicalHis">
					<td>{{medicalHis.org_name}}</td>
					<td>{{medicalHis.org_code}}</td>
					<td>{{medicalHis.sicker_name}}</td>
					<td>{{medicalHis.genderStr}}</td>
					<td>{{medicalHis.age}}</td>
					<td><a ng-href="#/medical/detail/{{medicalHis.id}}">{{medicalHis.medical_his_num}}</a></td>
					<td>{{medicalHis.create_timeStr}}</td>
					<td>{{medicalHis.statusStr}}</td>
					<!-- <td>
						<a href="javascript:void(0);" ng-click="shareMedicalHis(medicalHis.id)" title="分享此病例">
							<span class="glyphicon glyphicon-share text-success"></span>
						</a>
					</td> -->
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer" align="right">
		<uib-pagination style="margin-top:0px;margin-bottom:0px;" total-items="searchOpt.spu.totalRow" 
					items-per-page="searchOpt.spu.perPageCount" max-size="10" boundary-links="true"
					ng-model="searchOpt.spu.currPage" ng-change="searchMedicalHis()"
					previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页"></uib-pagination>
	</div>
</div>
</body>
</html>