<div class="panel panel-primary" data-ng-init="queryOrgConfig();">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-cog"></span>
		机构配置
		<button class="btn btn-xs btn-warning pull-right" ng-click="goback()">
			<span class="glyphicon glyphicon-arrow-left"></span>
			返回
		</button>
	</div>
	<div class="panel-body">
		<table class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th>服务器版本</th>
					<th>检索服务地址</th>
					<th>图像服务地址</th>
					<th>AE号</th>
					<th>用户名</th>
					<th>密码</th>
					<!-- <th>创建时间</th> -->
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="orgAffix in listOrgAffix">
					<td>{{orgAffix.remote_server_versionStr}}</td>
					<td>{{orgAffix.query_url | limitTo : 25 : 0 }} ...</td>
					<td>{{orgAffix.dicomweb_url | limitTo : 25 : 0 }} ...</td>
					<td>{{orgAffix.ae_code | limitTo : 25 : 0 }} ...</td>
					<td>{{orgAffix.user_name}}</td>
					<td>{{orgAffix.password}}</td>
<!-- 					<td>{{orgAffix.create_time | date : 'yyyy-MM-dd'}}</td> -->
					<td>
						<a class="btn btn-sm btn-info" href="#/modifyOrgAffix/{{orgAffix.id}}" title="修改配置">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<a class="btn btn-sm btn-danger" href="javascript:void(0);" ng-click="deleteOrgAffix(orgAffix.id);" title="删除配置">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div>
<!-- 			<a class="btn btn-primary" href="#/newOrgConfig/{{searchOpt.orgId}}"> -->
<!-- 				<span class="glyphicon glyphicon-plus"></span> -->
<!-- 				添加配置 -->
<!-- 			</a> -->
			<!-- &nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#/orgDefaultConfig">
				<span class="glyphicon glyphicon-wrench"></span>
				设置默认机构配置
			</a> -->
		</div>
	</div>
</div>