<div class="container-fluid">
	<uib-alert ng-show="msg" type="info">{{msg}}</uib-alert>
  <div class="panel panel-primary">
  	<div class="panel-heading">平台账户列表</div>
  	<uib-tabset>
  		<uib-tab heading="账户列表">
	  		<form class="form-inline" style="margin: 5px 10px;">
					<div class="form-group">
				    <label>机构名称</label>
				    <input type="text" class="form-control" ng-model="accounts.orgName" placeholder="机构名称">
				  </div> 
				  <div class="form-group">
				    <label>机构编号</label>
				    <input type="text" class="form-control" ng-model="accounts.orgCode" placeholder="机构编号">
				  </div> 
				  <div class="form-group">
			      <a type="button" class="btn btn-success" ng-click="loadAccount()"><span class="glyphicon glyphicon-search"></span> 查询</a>
				  </div>
				</form>
		    <table class="table table-bordered table-hover">
		      <thead>
		        <tr class="info">
		          <th class="col-md-4" style="text-align: center">机构名称</th>
		          <th class="col-md-1" style="text-align: center">机构编号</th>
		          <th class="col-md-1" style="text-align: center">账户余额</th>
		          <th class="col-md-1" style="text-align: center">状态</th>
		          <th class="col-md-1" style="text-align: center">操作</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr ng-repeat="u in accounts.rows">
						 <td class="col-md-4">{{u.org_name}}</td>
						 <td class="col-md-1">{{u.org_code}}</td>
						 <td class="col-md-1">{{u.amount}}</td>
		         <td class="col-md-1">{{u.status.name}}</td>
		         <td class="col-md-1">
		         	<a class="btn-link" href="#" style="color:red" ng-show="u.can_freeze" ng-click="freeze(u.org_id,true)"><span title="冻结账户" class="glyphicon glyphicon-ban-circle">&nbsp;</span></a>
		         	<a class="btn-link" href="#" style="color:green" ng-show="!u.can_freeze" ng-click="freeze(u.org_id,false)"><span title="解冻账户" class="glyphicon glyphicon-ok-circle">&nbsp;</span></a>
		         	<a class="btn-link" ui-sref="record({id:u.org_id})"><span title="查看记录" class="glyphicon glyphicon-eye-open">&nbsp;</span></a>
		         </td>
		        </tr>
		      </tbody>
		 		</table>
		 		<div class="panel-footer">
		    	<div style="text-align: right">
				    <uib-pagination class="pagination-md" total-items="accounts.total" ng-model="accounts.pageIdx" 
				    	ng-change="loadAccount()" max-size="5" boundary-links="true" previous-text="上一页" 
				    	next-text="下一页" first-text="首页" last-text="尾页"></uib-pagination>
		    	</div>
		    </div>
  		</uib-tab>
  		
  		<uib-tab heading="申请列表" select="loadRequest()">
  			<form class="form-inline" style="margin: 5px 10px;">
					<div class="form-group">
				    <label>机构名称</label>
				    <input type="text" class="form-control" ng-model="reqs.orgName" placeholder="机构名称">
				  </div> 
				  <div class="form-group">
				    <label>机构编号</label>
				    <input type="text" class="form-control" ng-model="reqs.orgCode" placeholder="机构编号">
				  </div> 
				  <div class="form-group">
			      <a type="button" class="btn btn-success" ng-click="loadRequest()"><span class="glyphicon glyphicon-search"></span> 查询</a>
				  </div>
				</form>
		    <table class="table table-bordered table-hover">
		      <thead>
		        <tr class="info">
		          <th class="col-md-4" style="text-align: center">机构名称</th>
		          <th class="col-md-1" style="text-align: center">机构编号</th>
		          <th class="col-md-1" style="text-align: center">申请类型</th>
		          <th class="col-md-1" style="text-align: center">申请金额</th>
		          <th class="col-md-2" style="text-align: center">申请时间</th>
		          <th class="col-md-1" style="text-align: center">状态</th>
		          <th class="col-md-1" style="text-align: center">操作</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr ng-repeat="u in reqs.rows">
						 <td class="col-md-4">{{u.org_name}}</td>
						 <td class="col-md-1">{{u.org_code}}</td>
						 <td class="col-md-1">{{u.type.name}}</td>
						 <td class="col-md-1">{{u.price}}</td>
		         <td class="col-md-1">{{u.create_time | date:"yyyy-MM-dd HH:mm:ss"}}</td>
		         <td class="col-md-1">{{u.status.name}}</td>
		         <td class="col-md-1">
		         	<a ng-show="u.can_confirm" class="btn-link" href="#" ng-click="confirmReq(u.id,u.type)" style="color:green"><span title="确认" class="glyphicon glyphicon-ok-sign">&nbsp;</span></a>
		         	<a ng-show="u.can_confirm" class="btn-link" href="#" ng-click="rejectReq(u.id)" style="color:red"><span title="拒绝" class="glyphicon glyphicon-remove-sign">&nbsp;</span></a>
		         </td>
		        </tr>
		      </tbody>
		 		</table>
		 		<div class="panel-footer">
		    	<div style="text-align: right">
				    <uib-pagination class="pagination-md" total-items="reqs.total" ng-model="reqs.pageIdx" ng-change="loadRequest()" 
				    	max-size="5" boundary-links="true" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页">
				    </uib-pagination>
		    	</div>
		    </div>
  		</uib-tab>
  	</uib-tabset>
	</div>
</div>
