<div class="modal-heading" data-ng-init="initData()">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-comment"></span>
		视频窗口
	</div>
</div>
<div class="modal-body">
	对话记录：
</div>
<div class="modal-footer" align="right">
	<button class="btn btn-warning btn-sm" ng-click="cancel()">
		<span class="glyphicon glyphicon-log-out"></span>
		关闭
	</button>
	<button class="btn btn-info btn-sm" ng-click="sendDiagnosisMsg()">
		<span class="glyphicon glyphicon-open"></span>
		发送
	</button>
</div>
