<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>登录</title>
    <link href="assets/css/bootstrap-3.3.6.css" rel="stylesheet"/>
    <link href="assets/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="assets/css/bootstrap-theme-3.3.6.css" rel="stylesheet"/>
    <script src="assets/js/jquery-1.7.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</head>
<body>
<form action="/user/login" method="post">
    登陆：<br/>
    用户名：<input name="username" id="username" type="text"/><br/>
    密&nbsp;&nbsp;&nbsp;码：<input name="password" id="password" type="password"/><br/>
    <input type="submit" value="登陆"/>
</form>
</body>
</html>