<div class="btn-group inline" style="margin-bottom: 15px;">
	<ul class="nav nav-pills">
      	<li role="presentation" ng-class="{true: 'active', false: 'inactive'}[searchOpt.type==1]">
      		<a href="javascript:void(0)" ng-click="selectStatType(1)">诊断统计</a>
      	</li>
		<li role="presentation" ng-class="{true: 'active', false: 'inactive'}[searchOpt.type==2]">
			<a href="javascript:void(0)" ng-click="selectStatType(2)">审核统计</a>
		</li>
    </ul>
</div>
<div class="form-inline" data-ng-init="initData()">
	<form action="" role="form">
		<select class="form-control" style="width: 150px;" ng-model="searchOpt.requestOrgId">
			<option value="0">选择申请机构</option>
			<option ng-repeat="org in arrayOrg" value="{{org.id}}" >{{org.org_name}}</option>
		</select> 
		<select class="form-control" style="width: 150px;" ng-model="searchOpt.diagnosisOrgId" 
			ng-change="queryDoctorsInOrg(searchOpt.diagnosisOrgId)">
			<option value="0">选择诊断机构</option>
			<option ng-repeat="org in arrayOrg" value="{{org.id}}" >{{org.org_name}}</option>
		</select>
		<select class="form-control" style="width: 150px;" ng-if="searchOpt.diagnosisOrgId !=0" ng-model="searchOpt.doctorId">
			<option value="0">选择医生</option>
			<option ng-repeat="doctor in arrayDoctors" value="{{doctor.id}}" >{{doctor.user_name}}</option>
		</select>
       	<div class="input-group" style="width:160px">
       		<date-selector ng-model="searchOpt.start" placeholder="起始日期"></date-selector>
		</div>
       	<div class="input-group" style="width:160px">
       		<date-selector ng-model="searchOpt.end" placeholder="结束日期"></date-selector>
		</div>
		<a class="btn btn-primary" href="javascript:void(0);" ng-click="statOrgFom()">
			<span class="glyphicon glyphicon-search"></span>
			检索
		</a>
	</form>
</div>
<br />
<table class="table table-hover table-striped table-bordered">
	<thead>
		<tr>
			<th>医生名称</th>
			<th>设备名称</th>
			<th>诊断数</th>
			<th>类型</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="report in listReport">
			<td>{{report.user_name}}</td>
			<td>{{report.device_name}}</td>
			<td>{{report.count}}</td>
			<td>{{report.statType}}</td>
		</tr>
	</tbody>
</table>
<div class="panel-footer" align="right">
	<span style="font-size: 18px;">共&nbsp;{{listReport.length}}&nbsp;条记录&nbsp;&nbsp;&nbsp;</span>
	<!-- <uib-pagination style="margin-top:0px;margin-bottom:0px;" total-items="searchOpt.spu.totalRow" 
		items-per-page="searchOpt.spu.perPageCount" max-size="10" boundary-links="true"
		ng-model="searchOpt.spu.currPage" ng-change="statReport()"
		previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页"></uib-pagination> -->
</div>